Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

Notes added by 'git notes add'
  27/e24752099a34d48c8704cc0579a63ccab7a878
Due: none

Notes added by 'git notes add'
  d3/95a229c35d4264b4df10c512a42dfd8ef9ab7e
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  91/3dc532635821daf6605c26a7f1a76e11c7a3d5
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  9d/c888738fb27b306b40451116c125675eb10dbf
Due: none

chore: refactor migration
  base.mk
Due: none

Notes added by 'git notes add'
  ba/9ce945ee100b50c0fc34f89b9d797457f1f32c
Due: none

Notes added by 'git notes add'
  da/98c3c567e4ecade08152da314a409944973afa
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  99/08e66429719ad4e8432711d6f989d108964967
Due: none

chore: refactor migration
  pyproject.toml
Due: none

Notes added by 'git notes add'
  88/fd3fbd88def23b123d3506cefcfbce9c7d4c2e
Due: none

Notes added by 'git notes add'
  61/b651a685df0adb5be4fb57d4681dfe616ad416
Due: none

Notes added by 'git notes add'
  67/b53c6b88254584fbcb55e4d749042be9b04926
Due: none

Notes added by 'git notes add'
  28/8376ce2973f00dc05c31b292084dfcb3a9f509
Due: none

chore: refactor migration
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  b6/cf3c09dc9468ffdc450671cac1884faa75a23b
Due: none

Notes added by 'git notes add'
  20/6b69987647ae805eacecaef9c241138c29c07d
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/typings.py
  tests/typings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  80/1b8d043f875119dc8bda12464a0521ea17706a
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/__init__.py
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/errors.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  e5/699ade38e261f0ae05d0bd177b9e2997ac2100
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/__init__.py
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  5d/422683a93d589777ca5c20f36d6146d09ccb17
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/errors.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  df/4694ea45dcf9f27c4a83a3f32c2936da980ff9
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  4f/a46143e1289d942806f8153378b3fbcbb9af22
Due: none

Notes added by 'git notes add'
  a8/3f5fb46ccae0db733e86b1b4e6b5b089b9b21a
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  78/a5618adff1eb18ce8b027f7a9452f89a8e00ed
Due: none

chore: refactor migration
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
Due: none
