Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

Notes added by 'git notes add'
  a0/a05db15a2c333d1a1fa71dd8b2d9cf8480b858
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  64/fdfcb34e1e927d7887eae28add079a995c65ee
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  34/e2c72c3f23d6fd619de09a472e97334ad9b0de
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  e5/69c607f3ff495c9bc38741715edb9ebd585333
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  34/84d74a0afc7b5baff0fc81fdfc6b241b6c5526
Due: none

chore: refactor migration
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/typings.py
  tests/__init__.py
  tests/constants.py
  tests/fixtures/__init__.py
  tests/models.py
  tests/protocols.py
  tests/tm.py
  tests/tp.py
  tests/tt.py
  tests/tu.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  55/046971c0f1b75490995ac83937686480306734
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  e9/9bdc3b56118e180238b6025796c0cad47dd2ae
Due: none

Notes added by 'git notes add'
  00/2e3d70fe0494cdca10ff5626a886ebb5d333be
Due: none

Notes added by 'git notes add'
  41/b01233fe3cb51d79c16e2edd21e21150370f6b
Due: none

Notes added by 'git notes add'
  91/7c3ccf51b72d4139acc14593fa426dbb26db39
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  8a/eb218169a762640a55757ba1d468d54ba874b4
Due: none

Notes added by 'git notes add'
  52/00212e26e8dec0853dadc93e2f8da789f61ed6
Due: none

chore: refactor migration
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  87/d902e70e69aa7ba5809ac2cd9164182dc03d36
Due: none

chore: refactor migration
  pyproject.toml
Due: none

Notes added by 'git notes add'
  14/217f65a1310d38b3794e2db5a141775bde6650
Due: none

Notes added by 'git notes add'
  33/405431e590199ec9fadab83aa655db3f97897e
Due: none

chore: refactor migration
  pyproject.toml
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  12/07c301f6463922cdc9302966271b722fa8f052
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  9a/dd6a43fc5bd05ce779fd0580a97bff6150b1cd
Due: none

chore: refactor migration
  pyproject.toml
  tests/unit/__init__.py
  tests/unit/test_target.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  3a/1c11623f01c674a93babf4efc7e95f82d78000
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  3e/a25b15f9d826ac85ba1cd007dc453b276771dd
Due: none

chore: refactor migration
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  36/1304f2a36cdcb746abdd295671290cdb55b5fd
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi
