Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

Notes added by 'git notes add'
  82/baff6ea6f93d9896a1cad9bbe3fa6662e6672d
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  a5/5e54d8f520424a5fe74172df9ffef0df8976d2
Due: none

chore: refactor migration
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  5b/ea34b210797ce090c3796d47a9f03cf75ff409
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  2f/65748415c5a2d5744d07a0246f68fd732e2898
Due: none

chore: refactor migration
  .gitignore
  .pre-commit-config.yaml
  base.mk
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/target.py
  tests/__init__.py
  tests/conftest.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  da/e06964e729e670e703a3e60e876341ee6e1997
Due: none

chore: refactor migration
  base.mk
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/errors.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  13/5ec5ac1d29ac97e9624a792038075042c3674d
Due: none

chore: refactor migration
  pyproject.toml
Due: none

Notes added by 'git notes add'
  f8/780108704f6b4a14e94b6c95697d6805fc5e03
Due: none

chore: refactor migration
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/__version__.py
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/errors.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  tests/__init__.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  b5/9996a0806df53eb0ead92a0169f0fad028a0be
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  76/61d3c08f565a6f9f9b7d318fd879c8e874f3d2
Due: none

chore: refactor migration
  docs/guides/development.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  tests/conftest.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  8d/cb19a0ba699e419f06617b29377ed2c1101eb8
Due: none

chore: refactor migration
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  b2/9eaeed30283276611e93cfd70f4d71d2a4bb88
Due: none

chore: refactor migration
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  0a/f54979a5a447a6e26bf2d3d130d7873f02fc12
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/errors.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  d4/4bfff2dc6668cd0d9fa2698721c74eefb2d634
Due: none

chore: refactor migration
  docs/guides/development.md
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  ac/345f8059990e8bd51eb21bbd43dc384ea3b466
Due: none

chore: refactor migration
  docs/README.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
Due: none

Notes added by 'git notes add'
  e1/7b1bf5c78f9766ebfaecea2b13cd80aac921d2
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  83/3700bf107853e5db712d1812b65ad1ab51aa04
Due: none

chore: refactor migration
  .github/workflows/ci.yml
  Makefile
  base.mk
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/models.py
  tests/conftest.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  14/4896805d7989da5104b2243d865821dcaf6a52
Due: none

chore: refactor migration
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/troubleshooting.md
  src/flext_target_ldif/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  d8/e957ae096f72f618750595f82d92ef51818e8c
Due: none

chore: refactor migration
  base.mk
  docs/CHANGELOG.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/troubleshooting.md
  docs/releases/latest.md
  docs/roadmap/index.md
Due: none

Notes added by 'git notes add'
  78/44586d9c1765aa950107501b7da19876467f45
Due: none

chore: refactor migration
  AGENTS.md
  Makefile.build
Due: none

Notes added by 'git notes add'
  75/a7a90c07292c561847331b6d4d8ea687e602df
Due: none

chore: refactor migration
  base.mk
Due: none
