Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint (17 categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

refactor: streamline exception handling and imports in LDIF models and utilities
  src/flext_target_ldif/models.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_config.py
  src/flext_target_ldif/_settings.py
  src/flext_target_ldif/config/target-ldif.yaml
  src/flext_target_ldif/models.py
  src/flext_target_ldif/target.py
  tests/base.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

feat(settings): strict layer-0 settings namespaced under settings.TargetLdif (ADR-005)
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_settings.py
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(settings): improve validation messages for required target configuration fields
  src/flext_target_ldif/_settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  tests/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(settings): retain injected config + namespaced validation (mro-rn88)
  src/flext_target_ldif/models.py
  src/flext_target_ldif/target.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/_settings.py
  src/flext_target_ldif/target.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(make): drop legacy base.mk copy; canonical flext-infra/base.mk is SSOT [mro-3o9s]
  base.mk
Due: none

fix(tests): drop broken fetch_settings override and type-safe JSON schema traversal
  tests/base.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

docs: regenerate project docs portal via flext-infra engine [mro-lo34]
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/modules/errors.md
  docs/api-reference/generated/modules/index.md
  docs/api-reference/generated/modules/settings.md
  docs/api-reference/generated/modules/target.md
  docs/api-reference/generated/modules/writer.md
  docs/api-reference/generated/overview.md
  docs/index.md
Due: none

docs: D401/D417 docstring uplift (imperative mood + arg docs) [mro-78eb]
  src/flext_target_ldif/models.py
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

test(target): rewrite init test to exercise real public sink flow without mocks
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

test(writer): exercise close() failure through real unwritable directory
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(ruff): enforce D401/D417 (drop ignore) after docstring uplift [mro-78eb]
  pyproject.toml
Due: none

docs: regenerate API overview (doc summary + classifiers) [mro-6x37]
  docs/api-reference/generated/overview.md
Due: none

refactor(target-ldif): remove dead validate_business_rules from models [U17]
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  docs/api-reference/generated/overview.md
  src/flext_target_ldif/models.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  Makefile
Due: none

fixes
  tests/unit/test_target.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(make): checkpoint generated setup contract
  Makefile
Due: none

chore(scaffold): regenerate project ignore rules
  .gitignore
Due: none

chore(make): regenerate standalone bootstrap guard (make setup standalone)
  Makefile
Due: none

build(hatch): add standardized wheel target for 0.12.0 packaging
  pyproject.toml
Due: none

release(0.12.0): finalize version + mark alpha
  pyproject.toml
Due: none

test: convert assert to tm matchers (assert->tm.that/ok/fail codemod)
  tests/unit/test_target.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(workspace): sync generated gitignore
  .gitignore
Due: none

fix(tests): close LDIF writer failure path
  pyproject.toml
  src/flext_target_ldif/writer.py
  tests/unit/test_target.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor(Sink): remove lazy logger property to streamline resource management
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

ci: sync gating CI (Setup+Check blocking) from workspace SSOT
  .github/workflows/ci.yml
Due: none

fixes
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/__init__.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/api.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/target.py
  tests/base.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/models.py
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(flext-target-ldif): conform pyproject to standalone git+URL deps (mro-qb4y root-only workspace)
  pyproject.toml
Due: none

docs(target-ldif): refresh generated API inventory
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  docs/index.md
Due: none

chore(release): normalize version to 0.12.0.rc0 [mro-p68a]
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
