Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint (17 categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

Notes added by 'git notes add'
  00cad3f50ea7453f10a358aa7c56a41e3f42c58a
Due: none

chore: refactor migration
  docs/guides/development.md
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/transformers.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  15ce27569918090a58616fff2ab1045e18958edc
Due: none

Notes added by 'git notes add'
  cbc7e0b584f4cbf1bee4e7d507bf222491fd5076
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/transformers.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  601b41d13f71557369989aec80dece7d5aeaf316
Due: none

Notes added by 'git notes add'
  da1e5cb8d6914994a67a626dbeedc552b3df061c
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  1aeac7b91d97db132a19b73554aaac2959f5c99b
Due: none

Notes added by 'git notes add'
  32668f9c9dd226409b5155e9bceafd179f8adc05
Due: none

chore: refactor migration
  src/flext_target_ldif/protocols.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: DIP protocol standardization — rename p.DI→Container, p.StructlogLogger→Logger, p.CommandBus→Dispatcher, p.Config→Settings + isinstance checks
  src/flext_target_ldif/sinks.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor(enum): add @unique to all StrEnum classes + fix duplicates
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/typings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: add missing from __future__ import annotations (Python 3.13 modernization)
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  ac950a1b5df8b7e6e277a3143621c9191b1c4bf4
Due: none

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  1e559494eab3cd2ba917da0216265ea48e13d31c
Due: none

Notes added by 'git notes add'
  b953c41a9a5ddfbadfd87637c9ddf9d92c4a577c
Due: none

chore: refactor migration
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  f788d9641c1f46f2fdfdb78409020e14ba93cdb6
Due: none

chore: refactor migration
  tests/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  9f4ff61c456798286873c3dc9905616866a77b89
Due: none

Notes added by 'git notes add'
  ee559b9f96f67f66a3554f5ef1edfd6c96281e25
Due: none

chore: refactor migration
  src/flext_target_ldif/utilities.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  90747824f35b1e46efde758efd19cea438c9ee42
Due: none

Notes added by 'git notes add'
  38217aba43ac1164f1e7ce0b5b8e50161ab442c3
Due: none

chore: refactor migration
  .gitignore
  Makefile
Due: none

chore: refactor migration
  src/flext_target_ldif/sinks.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  d40f1f702615db8925fbffb23b12a97d9f361455
Due: none

chore: refactor migration
  tests/__init__.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  4925b951c92f3b507b72b771de96c677371b793c
Due: none

chore: refactor migration
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  b6028ce36cc4c53b43152d8b1222d25c7b0036a1
Due: none

Notes added by 'git notes add'
  8ca37fa9936fd02180874c7bf69284a7e8bedc00
Due: none

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
