Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint (17 categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

Notes added by 'git notes add'
  b3/ffeda27da8dc1c9bf3b8aef239399ab34bb09d
Due: none

Notes added by 'git notes add'
  aa/214102e1d1b77ef7734c641781a8d7870751f5
Due: none

chore: refactor migration
  src/flext_target_ldif/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  f9/5fabc3c92396c6a24d5ccda6da8294e2c80ee4
Due: none

chore: refactor migration
  pyproject.toml
Due: none

Notes added by 'git notes add'
  c5/afb4f410a919fbc48d4f7867fe9072cbd2fe45
Due: none

refactor: rename logging.py and platform.py to avoid stdlib name conflicts
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  a4/7cf155863244321e287ece05458531e9e9ea63
Due: none

Notes added by 'git notes add'
  98/2b842852848bc8daf29794a21830cd0d8199f1
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__version__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  4e/4daf406bfb09544ea5e59b597c35418c2103e6
Due: none

Notes added by 'git notes add'
  52/2d00859c0ea9f00887956935ee5722a46d1f60
Due: none

refactor(flext-target-ldif): absorb loose classes into namespace - Sink -> m.TargetLdif.Sink, RecordTransformer -> u.TargetLdif.RecordTransformer, exceptions.py -> errors.py
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/errors.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/utilities.py
  tests/__init__.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  72/79edfc645824de7e5e50c4c70b5c884c8fcec2
Due: none

Notes added by 'git notes add'
  9b/1e903b406af90ccda1e8e693a449e353cf1846
Due: none

refactor: move module-root loose files to _utilities/ for namespace enforcement (BATCH 2 tap/target projects)
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/__init__.py
  src/flext_target_ldif/_utilities/target.py
  src/flext_target_ldif/_utilities/writer.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: remove flat aliases from facade files per AGENTS.md §2.4
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  0d/5a9b1757d0ffa46fb18b0842f6a70c4ffb7126
Due: none

fix: restore entry point files from _utilities/ to module root in 10 tap/target/dbt projects
  src/flext_target_ldif/_utilities/target.py
  src/flext_target_ldif/_utilities/writer.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  96/9e93f36240fcf98127f6076d79279a552e2a12
Due: none

Notes added by 'git notes add'
  75/d4acd8ebb4728ef77d8e4966546f4f769b2a46
Due: none

Notes added by 'git notes add'
  0a/391ced2209943c8c57b6017f6ffacf84b92b0d
Due: none

refactor: centralize Singer abstractions via flext-meltano namespace
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  1b/e4b10bed73ad93f22c0d931250caeb08b8f546
Due: none

Notes added by 'git notes add'
  ce/5fa6f1cbd56f3a7c160c952d39813a6713fe81
Due: none

Notes added by 'git notes add'
  da/97a5e9a174b6cad956c8bd8feb28102e4305ad
Due: none

chore: refactor migration
  Makefile
  pyproject.toml
Due: none

Notes added by 'git notes add'
  c0/55ae77a43da5ec4c1b77a04f469641b26e2d81
Due: none

fix: mypy errors — aliased fields, stale transformers.py, yield type annotation
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/transformers.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  ff/703b42e2c7473d9094e8e2967df77db80592b9
Due: none

fix: zero type errors across 6 projects — mypy, pyright, pyrefly all clean
  Makefile
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  d9/b5a47f333b3b1641c18829966dcc969bf074af
Due: none

chore: refactor migration
  .gitignore
  Makefile
  base.mk
  pyproject.toml
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/typings.py
  tests/models.py
  tests/protocols.py
  tests/test_target.py
  tests/test_writer.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
