Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

fixes
  .agents/skills/search-first/references/procedure.md
  .cursor/skills/search-first/references/procedure.md
  .github/workflows/ci.yml
  .markdownlint.json
  .mise.toml
  .opencode/skills/search-first/references/procedure.md
  .prettierignore
  .prettierrc
  .vscode/settings.json
  Makefile
Due: none

fixes
  .gitignore
  .vscode/settings.json
  Makefile
  README.md
  docs/api-reference/generated/overview.md
  docs/index.md
  pyproject.toml
Due: none

fix(fleet): markdown contract content fixes and gitignore scratch hardening
  .github/workflows/_fragments/cross_repo_dependency_credential
  .github/workflows/ci.yml
  .gitignore
  .mise.toml
Due: none

fixes
  config/workspace.yaml
Due: none

chore(gen): converge fleet projections after workspace-root bare-deps fix and identity manifests
  .envrc
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  Makefile
Due: none

chore(gen): converge renders (flext-v4fmn sweep)
  Makefile
Due: none

[WIP] checkpoint: adopt the lane tree before publication
  Makefile
Due: none

chore(gen): render convergence r3 (flext-v4fmn)
  Makefile
Due: none

[WIP] checkpoint: adopt the detached tree before returning to the lane
  src/flext_target_ldif/_settings.py
  src/flext_target_ldif/errors.py
  src/flext_target_ldif/writer.py
  tests/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(generated): adopt the projected Makefile and settings in this checkout
  Makefile
  src/flext_target_ldif/_settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): converge fleet projections (post integration landing)
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(stabilize): converge flext-target-ldif lane (setup/fix/fmt waves)
  Makefile
  config/workspace.yaml
  pyproject.toml
Due: none

chore(gen): converge fleet projections (post integration landing)
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): regenerate projections with the published flext-infra ee8c58a1df (flext-0in0k C1)
  .markdownlintignore
  .prettierignore
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): regenerate projections with the published flext-infra d1c55b54fc (flext-0in0k C1)
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): converge projections after lane integration sweep
  .markdownlintignore
  .prettierignore
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): converge projections with the published generator (d1c55b54f, one name per line)
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): converge projections with the published generator (d1c55b54f, one name per line)
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  .markdownlintignore
  .prettierignore
  src/flext_target_ldif/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): converge projections at the integration tip (fleet fixed point)
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/_config.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(fleet): ENFORCE-042 — Config classes inherit FlextSettings (census wave)
  src/flext_target_ldif/_config.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): converge fleet projections — final stabilization pass
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_config.py
  src/flext_target_ldif/_constants/__init__.py
  src/flext_target_ldif/_constants/base.py
  src/flext_target_ldif/_constants/values.py
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): converge projections to current generator
  .envrc
  .github/workflows/ci.yml
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  docs/api-reference/generated/public-api.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(config): inherit FlextSettings via FlextMeltanoConfig (ENFORCE-042 cascade)
  src/flext_target_ldif/_config.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  .github/workflows/ci.yml
  src/flext_target_ldif/__init__.py
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] checkpoint recovered changes for current integration adoption
  .envrc
  .github/workflows/ci.yml
  .gitignore
  Makefile
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
  tests/__init__.py
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

fixes
  Makefile
Due: none

fix(writer): propagate conversion defects as typed failures instead of skipping
  src/flext_target_ldif/writer.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(target-ldif): explicit failure-path assertions and ClassVar test constants
  tests/constants.py
  tests/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

fixes
  docs/guides/make-commands.md
  docs/guides/security.md
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

test: use parenthesized with-statement in writer exception test
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

refactor: rename bootstrap hook to public runtime_bootstrap_options
  tests/base.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(docs): land docs-lifecycle output (generate/fix/fmt)
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  docs/guides/configuration.md
  docs/guides/make-commands.md
Due: none

chore(gen): adopt the conformance fixed-point render
  .markdownlintignore
  .prettierignore
  Makefile
  pyproject.toml
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): project ruff namespace-packages and rope-cured facets
  .gitignore
  .markdownlintignore
  .prettierignore
  Makefile
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_constants/__init__.py
  src/flext_target_ldif/_utilities/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi
