Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

docs: update agent instructions
  AGENTS.md
Due: none

refactor(target-ldif): LDIF 'Generated on' comment datetime.now(UTC) → u.now() (configured tz)
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(target-ldif): un-mask docs markdown at full collection + any u-race root-cause (mro-c1al)
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
Due: none

chore: align docs and AGENTS with current repository standards
  AGENTS.md
Due: none

governance: require scoped landing after validation
  AGENTS.md
Due: none

chore(docs): sync generated docs and README
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/api-reference.md
  docs/api-reference/README.md
  docs/api-reference/generated/modules/flext_target_ldif.md
  docs/api-reference/generated/modules/index.md
  docs/api-reference/generated/overview.md
  docs/architecture.md
  docs/architecture/patterns.md
  docs/configuration.md
  docs/development.md
  docs/getting-started.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/security.md
  docs/guides/skill-automation-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/index.md
  docs/releases/latest.md
  docs/roadmap/index.md
  docs/testing.md
  docs/troubleshooting.md
Due: none

docs: sync generated docs and README for current workspace state
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/api-reference.md
  docs/api-reference/README.md
  docs/api-reference/generated/modules/flext_target_ldif.md
  docs/api-reference/generated/modules/index.md
  docs/api-reference/generated/overview.md
  docs/architecture.md
  docs/architecture/patterns.md
  docs/configuration.md
  docs/development.md
  docs/getting-started.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/security.md
  docs/guides/skill-automation-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/index.md
  docs/releases/latest.md
  docs/roadmap/index.md
  docs/testing.md
  docs/troubleshooting.md
Due: none

chore: apply flext-infra pyproject modernization
  pyproject.toml
Due: none

chore(pyproject): apply workspace modernization
  pyproject.toml
Due: none

fixes
  base.mk
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Sync generated workspace artifacts
  base.mk
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(pyproject): modernize pyrefly dependency
  pyproject.toml
Due: none

chore: propagate Python-only base make
  base.mk
Due: none

Thin generated exports and owner imports
  Makefile
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/__init__.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/test_target.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Regenerate lazy wrapper exports
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Generate target LDIF lazy registry wrappers
  .gitignore
  Makefile
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/__init__.pyi
  src/flext_target_ldif/_exports.py
  src/flext_target_ldif/_exports_lazy_part_01.py
  src/flext_target_ldif/_utilities/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Regenerate canonical lazy root wrappers
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/__init__.pyi
  src/flext_target_ldif/_exports.py
  src/flext_target_ldif/_exports_lazy_part_01.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: align ruff fix=false with SSOT tool_config.yml
  pyproject.toml
Due: none

260703-01
  pyproject.toml
  src/flext_target_ldif/__init__.pyi
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(flext_target_ldif): regenerate lazy exports and remove non-canonical aliases
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/__init__.pyi
  src/flext_target_ldif/_exports_lazy_part_01.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(deps): align pyrefly pin with workspace (>=1.1.1,<1.2.0)
  pyproject.toml
Due: none

chore(flext-target-ldif): land working-tree changes (ruff+import green) for 0.12.0-dev
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(workspace): flext-target-ldif — land local changes
  src/flext_target_ldif/__init__.pyi
Due: none

chore(workspace): flext-target-ldif — land local changes\n\n Counter: 0022\n Base: 0.12.0-dev\n Command: workspace-land-submodules\n Evidence: make workspace-land-submodules
  pyproject.toml
Due: none

chore(workspace): flext-target-ldif — land local changes\n\n Counter: 0027\n Base: 0.12.0-dev\n Command: workspace-land-submodules\n Evidence: make workspace-land-submodules
  pyproject.toml
Due: none

chore(workspace): flext-target-ldif — land local changes
  src/flext_target_ldif/models.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(workspace): flext-target-ldif — land local changes
  src/flext_target_ldif/models.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: align target ldif lazy exports
  src/flext_target_ldif/__init__.pyi
  src/flext_target_ldif/_exports_lazy_part_01.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/__init__.pyi
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: ruff F821 in target-ldif models
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: type target ldif facade and cli
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_exports_lazy_part_01.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_exports.py
  src/flext_target_ldif/_exports_lazy_part_01.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_exports.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/_utilities/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(codegen): inline lazy __init__.py, eliminate _exports.py sidecar
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_exports.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: eliminate _exports.py — generator inlines lazy import map + root public objects into __init__ (PEP 562 lazy); clean-import verified, idempotent
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

refactor: complete lazy __init__ TYPE_CHECKING re-exports after _exports.py elimination; pyrefly clean, clean-import verified
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi
