Repository marlon-costa-dc/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

0.9.0
  pyrightconfig.json
Due: none

0.9.0
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  CLAUDE.md
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/target_config.py
  src/flext_target_ldif/target_exceptions.py
  src/flext_target_ldif/target_models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  pyproject.toml
  pyrightconfig.json
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/typings.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  pyproject.toml
Due: none

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/target_exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/target_config.py
  src/flext_target_ldif/target_exceptions.py
  src/flext_target_ldif/target_models.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/di_container.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi
