Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

Notes added by 'git notes add'
  b4/79235be188982cacff7f73ea75cc9d8ac2c380
Due: none

Notes added by 'git notes add'
  e7/c9efd2dc2e774ad7d3566403b119f8540a4342
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  57/34cb058d53ea3845c6a7f4239c5bfe68efe9e2
Due: none

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/models.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  0a/7ba25089e30e83656abced37c09344f00d584b
Due: none

fix: eliminate all TypeGuard, cast(), and NameError issues in Phase 01 UAT
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  94/77ae79d3515a2f420a530b7c3f8af2ee6d3b9d
Due: none

fix(01-02): resolve pyright errors in main_entry_tests.py — import FlextInfraModels directly to avoid ambiguous tests package resolution
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  bf/071d535f63aebe5c5d626f438992d32c09d465
Due: none

Notes added by 'git notes add'
  fa/58af38c6493a2c458de156bb60e7d0c801af27
Due: none

wip: fix extraPaths leaking tests/ across projects in workspace pyright config
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(01-02): exclude all subproject root dirs from workspace pyright extraPaths
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  tests/__init__.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  7c/8950d0a83be0970e734f99d37f10d80bdb75f4
Due: none

Notes added by 'git notes add'
  98/7bb83c9c7fc9373320a3f443d443d153b01364
Due: none

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  ef/2c5a5753d946b980e47c98f6ab3b53d2d4669a
Due: none

docs(02-02): complete DIP enforcement plan
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  47/5391b8ef06db0989633881617aa1e5e9757cdf
Due: none

refactor(02-03): migrate Field() to Annotated form across all consumer projects
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  09/b96cf4d3b321c084d624100e447f259cf13ba2
Due: none

chore: refactor migration
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  b9/9e1f66a938553ca346c861b42b7b78d22902f1
Due: none

feat(02-05): normalize test imports to local namespace root for c,m,t,u,p
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  9a/95c27482d33f7551b094285718ec841c30a651
Due: none

fix(02-05): revert PEP 695 in class attribute overrides
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  20/a106c5735a4c3f83e6205655ee59a93e242553
Due: none

Notes added by 'git notes add'
  2e/772d68c5dd61f1aec0007bc896411f8fa1ee4f
Due: none

docs(03): complete phase research
  pyproject.toml
Due: none

Notes added by 'git notes add'
  07/e48725b9cc8ec99466d51563eb550671bfa986
Due: none

Notes added by 'git notes add'
  de/6b19065347a8e0a4e1fdd99b9066b3eca6c763
Due: none

chore: refactor migration
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  7a/386ce72f9764610e09a89abc44749bab63af03
Due: none

chore: refactor migration
  pyproject.toml
Due: none

docs(03-04): complete print triage plan
  pyproject.toml
Due: none

Notes added by 'git notes add'
  17/68146258bc323df474269602352d50afac94eb
Due: none

docs(03-03): complete workaround eradication plan
  pyproject.toml
Due: none
