Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

chore: flext-infra migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: standardize protocols.py imports by NAME and fix MRO chain
  src/flext_target_ldif/protocols.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: lint fixes in models.py
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: remove duplicate class fields in constants.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: remove compatibility aliases from settings and models
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/__version__.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: remove aliases, fix typing and add @override decorators
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor(flext-target-ldif): remove cast/Any/object, strict typing
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/transformers.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: resolve pyrefly and typing errors
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/protocols.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: resolve pyrefly errors and fix typing
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/transformers.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/transformers.py
  tests/models.py
  tests/protocols.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/models.py
  tests/protocols.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  poetry.lock
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/typings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(tests): add codegen-v2 scaffold test modules
  tests/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/sinks.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
  tests/constants.py
  tests/test_target.py
  tests/test_writer.py
  tests/tu.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/models.py
  tests/protocols.py
  tests/test_target.py
  tests/test_writer.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  .gitignore
  AGENTS.md
Due: none

Notes added by 'git notes add'
  dffc7dce0677361363b8068b4dc671e2c8d86bd6
Due: none

Notes added by 'git notes add'
  afa6c01c3676a62845056684e2360bfd7c583d1b
Due: none

Notes added by 'git notes add'
  e0493b4be948246d008bcaf2c74851336f892e2a
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/__version__.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/protocols.py
  tests/test_target.py
  tests/test_writer.py
  tests/tm.py
  tests/tp.py
  tests/tt.py
  tests/tu.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  docs/guides/testing.md
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  27d11a53c4b2326b5c1e46618d05bba0173a1ea0
Due: none

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  18f98c539404396cadc5465c34600678f861e294
Due: none

Notes added by 'git notes add'
  fd6f4ab514805759fb1fdced986c70e4b124f222
Due: none

chore: refactor migration
  poetry.lock
  pyproject.toml
Due: none

Notes added by 'git notes add'
  8321bd70605ac7ea2f46c8f3fc9d7c82c43e10cd
Due: none

chore: refactor migration
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  27701f49bd7ba6c33cc44901655129c39019e3da
Due: none
