Repository marlon-costa-dc/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

feat: update version management and improve test file formatting
  src/flext_target_ldif/__version__.py
  tests/test_ldif_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: remove unnecessary argument from pre-commit configuration
  .pre-commit-config.yaml
Due: none

feat: complete architectural refactoring and cleanup
  .gitignore
  poetry.lock
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: organize repository files and update configurations
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  poetry.lock
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/__version__.py
  src/flext_target_ldif/infrastructure/__init__.py
  src/flext_target_ldif/infrastructure/di_container.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

reorg all
  .gitignore
  Makefile
  poetry.lock
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/infrastructure/__init__.py
  src/flext_target_ldif/infrastructure/di_container.py
  src/flext_target_ldif/ldif_writer.py
  src/flext_target_ldif/py.typed
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
  tests/test_config.py
  tests/test_ldif_writer.py
  tests/test_sinks.py
  tests/test_target.py
  tests/test_transformers.py
  tests/test_validation.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

reorg
  poetry.lock
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/infrastructure/di_container.py
  src/flext_target_ldif/writer.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

reorg
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/infrastructure/di_container.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

reorg
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  README.md
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  .gitignore
  CLAUDE.md
  Makefile
  tests/test_exceptions.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

0.9.0
  CLAUDE.md
  README.md
  poetry.lock
  reports/security.json
  src/flext_target_ldif/__version__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  tests/test_exceptions.py
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

0.9.0
  poetry.lock
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  poetry.lock
  pyproject.toml
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/infrastructure/di_container.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/writer.py
  tests/test_exceptions.py
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/validation.py
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/transformers.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  pyproject.toml
  tests/test_exceptions.py
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/infrastructure/di_container.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  pyproject.toml
Due: none

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/di_container.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/infrastructure/__init__.py
  src/flext_target_ldif/target_client.py
  src/flext_target_ldif/target_config.py
  src/flext_target_ldif/target_exceptions.py
  src/flext_target_ldif/target_models.py
  src/flext_target_ldif/target_services.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(typings): add typings.py for target-ldif
  src/flext_target_ldif/typings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: bulk save before merge to main
  README.md
  poetry.lock
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/validation.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(flext-target-ldif): ignore coverage.json in test artifacts
  .gitignore
Due: none

chore(flext-target-ldif): add scripts/README.md stub
  scripts/README.md
Due: none

0.9.0
  docs/index.md
  poetry.lock
Due: none

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/models.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
  src/flext_target_ldif/models.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  poetry.lock
Due: none

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  CLAUDE.md
  poetry.lock
  pyproject.toml
  src/flext_target_ldif/config.py
  src/flext_target_ldif/di_container.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
  src/flext_target_ldif/di_container.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
