Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint (17 categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

chore(gen): project pydantic-settings hold and ci workflow update
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fixes
  pyproject.toml
Due: none

chore(gen): project allow_redefinition mypy setting
  pyproject.toml
Due: none

fixes
  docs/guides/using-flext-tests.md
Due: none

fixes
  .github/workflows/ci.yml
  docs/guides/using-flext-tests.md
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(gen): land generator fixed-point output (pydantic-settings>=2.14.0,<2.15 + allow_redefinition facets)
  pyproject.toml
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(gen): remove the stale canonical-guide projection blocking regeneration
  docs/guides/using-flext-tests.md
Due: none

chore(gen): project at the published-generator fixed point
  .github/workflows/ci.yml
  pyproject.toml
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(gen): converge wave-5 absorb to generator fixed point (fix/fmt clean)
  .github/workflows/ci.yml
  docs/guides/using-flext-tests.md
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(gen): converge wave-6 absorb to generator fixed point
  pyproject.toml
Due: none

chore(gen): regen projections against the converged toolchain
  docs/guides/README.md
  pyproject.toml
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): converge wave-7 absorb to generator fixed point
  pyproject.toml
Due: none

chore(gen): converge wave-8 absorb to generator fixed point
  pyproject.toml
Due: none

chore(gen): render lazy-init facets with nearest-parent election
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): regenerate against the integrated flext-infra
  .github/workflows/ci.yml
  pyproject.toml
Due: none

chore(gen): regenerate against flext-infra a00c87739
  .github/workflows/docs.yml
Due: none

fixes
  .github/workflows/docs.yml
  bin/mise
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(gen): fixed point regeneration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): render standalone-mode projections for CI fixed point
  .gitignore
  .sonarcloud.properties
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

[WIP] fix(lazy-init): publish facade letters only from facade parents (flext-w2iw4)
  .gitignore
  .sonarcloud.properties
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] chore(gates): make fix/fmt output (flext-w2iw4)
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

[WIP] chore(gen): project the phase-1 wave generator (flext-itpd1.3)
  .envrc
  Makefile
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

gitblobstore: checkandput manifest
  manifest
  tv43nom4ns4cad259n3lirtprmfkj3rs.darc
Due: none

gitblobstore: checkandput manifest
  aldmsegnm6gf86nrnv5kja8nrv85k699
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: none

fixes
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(ci): land the member uv.lock and mise pin — CI deps contract
  .envrc
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  .sonarcloud.properties
  Makefile
  bin/mise
  bin/mise.cmd
  pyproject.toml
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: rope closure cure — composite facades, mise pin, member uv.lock
  .mise/locks/npm-prettier/3.5.3/aube-lock.yaml
  .mise/locks/npm-prettier/3.5.3/package.json
  mise.lock
  mise.version
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  tests/base.py
  uv.lock
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(gen): regenerate member runtime projections on the V8 integration tips
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .mise.toml
  Makefile
  mise.lock
  mise.version
  uv.lock
Due: none

[WIP] preserve flext-target-ldif state from lane flext
  docs/guides/README.md
  docs/guides/using-flext-tests.md
Due: none

[WIP] preserve member lock/Docs wave lane: interrupted mid-pipeline (upg/gen stage); gates not run
  .envrc
  .github/scripts/validate-git-hook.sh
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .gitignore
  .markdownlintignore
  .mise.toml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/aube-lock.yaml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/package.json
  .prettierignore
  .sonarcloud.properties
  .vscode/settings.json
  Makefile
  docs/docs_config.json
  mise.lock
  mise.version
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
  uv.lock
Due: none

chore(deps): lock to flext-infra b2dd5ff320 and drop the PROJECT= selector from AGENTS
  .envrc
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .markdownlint.json
  .prettierrc
  .vscode/settings.json
  Makefile
  bin/mise
  bin/mise.cmd
  mise.version
  pyproject.toml
  uv.lock
Due: none

chore(deps): lock to flext-infra ea3019db3e and drop the PROJECT= selector from AGENTS
  Makefile
  src/flext_target_ldif/_constants/values.py
  src/flext_target_ldif/constants.py
  uv.lock
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(deps): lock to flext-infra 3353c2f7dc and drop the PROJECT= selector from AGENTS
  uv.lock
Due: none

docs(agents): render the concrete raw parent URL in the standalone mode header
  AGENTS.md
Due: none

chore(deps): lock to flext-infra 3353c2f7dc and drop the PROJECT= selector from AGENTS
  src/flext_target_ldif/_constants/values.py
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
