Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint (17 categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

chore: checkpoint pending 0.11.0-dev changes
  scripts/check/workspace_check.py
  scripts/release/build.py
  scripts/release/changelog.py
  scripts/release/notes.py
  scripts/release/run.py
  scripts/release/shared.py
  scripts/release/version.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: checkpoint pending 0.11.0-dev changes
  scripts/release/build.py
  scripts/release/changelog.py
  scripts/release/notes.py
  scripts/release/run.py
  scripts/release/shared.py
  scripts/release/version.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: standardize imports — eliminate all stale aliases (u_core, m_core, c_core, t_core, p_base, etc.) and enforce namespaced typing patterns across all projects
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: standardize remaining import patterns and test fixtures
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

refactor: remove backward compat aliases — strict namespaced patterns
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: final cleanup — remove __init_subclass__, stale aliases, compat tests
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor(scripts): remove type: ignore from synced scripts
  scripts/core/skill_validate.py
  scripts/dependencies/modernize_pyproject.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: fix duplicate poetry-core requires + sync scripts from make upgrade
  .gitignore
  pyproject.toml
  scripts/__init__.py
  scripts/check/__init__.py
  scripts/core/__init__.py
  scripts/core/stub_supply_chain.py
  scripts/dependencies/dependency_detection.py
  scripts/github/__init__.py
  scripts/github/pr_manager.py
  scripts/github/pr_workspace.py
  scripts/github/sync_workflows.py
  scripts/libs/git.py
  scripts/libs/selection.py
  scripts/maintenance/__init__.py
  scripts/maintenance/_discover.py
  scripts/maintenance/enforce_python_version.py
  scripts/release/build.py
  scripts/release/changelog.py
  scripts/release/notes.py
  scripts/release/run.py
  scripts/release/shared.py
  scripts/release/version.py
  scripts/sync.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: update poetry.lock from make upgrade
  poetry.lock
Due: none

fix(scripts): make all 4 linters pass on scripts/ across all projects
  scripts/check/workspace_check.py
  scripts/core/skill_validate.py
  scripts/core/stub_supply_chain.py
  scripts/core/text_pattern_scanner.py
  scripts/dependencies/dependency_detection.py
  scripts/dependencies/detect_runtime_dev_deps.py
  scripts/dependencies/modernize_pyproject.py
  scripts/dependencies/sync_internal_deps.py
  scripts/documentation/audit.py
  scripts/documentation/build.py
  scripts/documentation/fix.py
  scripts/documentation/generate.py
  scripts/documentation/shared.py
  scripts/documentation/workspace_run.py
  scripts/github/pr_manager.py
  scripts/github/pr_workspace.py
  scripts/github/sync_workflows.py
  scripts/maintenance/enforce_python_version.py
  scripts/release/run.py
  scripts/release/version.py
  scripts/sync.py
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: sync workspace scripts, SSOT lint enforcement, workspace-relative dep paths
  poetry.lock
  pyproject.toml
  scripts/check/workspace_check.py
  scripts/dependencies/modernize_pyproject.py
  scripts/dependencies/sync_extra_paths_from_deps.py
  scripts/github/pr_manager.py
  scripts/libs/config.py
  scripts/libs/versioning.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: add typings/ to all lint exclude patterns (SSOT propagation)
  pyproject.toml
Due: none

fix: map internal dependencies for workspace mode
  pyproject.toml
Due: none

chore: checkpoint strict typing cleanup
  poetry.lock
  pyproject.toml
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/validation.py
  tests/conftest.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor: eliminate weak typing patterns — dict[str,X] to Mapping[str,X]
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: save workspace state
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
  tests/protocols.py
  tests/tp.py
  tests/tu.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: sync workspace changes
  poetry.lock
Due: none

refactor(target-ldif): delete dead validation.py module
  src/flext_target_ldif/validation.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor(nuclear-fake-removal-r2): Wave 5 cleanup
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  src/flext_target_ldif/__version__.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: persist workspace changes
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: flext-infra migration
  poetry.lock
Due: none

chore: flext-infra migration
  pyproject.toml
Due: none

chore: flext-infra migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/models.py
  tests/protocols.py
  tests/tm.py
  tests/tp.py
  tests/tt.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: flext-infra migration
  docs/guides/README.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/troubleshooting.md
  pyproject.toml
Due: none

chore: flext-infra migration
  docs/guides/README.md
  docs/guides/configuration.md
  docs/guides/troubleshooting.md
  pyproject.toml
Due: none

chore: flext-infra migration
  .gitignore
  poetry.lock
Due: none

chore: flext-infra migration
  poetry.lock
  pyproject.toml
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore: flext-infra migration
  poetry.lock
  pyproject.toml
Due: none

refactor(target-ldif): migrate exception to e.OperationError
  src/flext_target_ldif/exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: normalize pyproject and remove stale comments
  pyproject.toml
Due: none

chore: flext-infra migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(constants): correct MRO inheritance for LDIF integration
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: flext-infra migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: standardize lazy imports + fix dep paths
  pyproject.toml
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix(utilities): correct MRO inheritance in flext-target-ldif
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
