Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint (17 categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

[WIP] checkpoint generated state and automated refactor cache
  Makefile
Due: none

[WIP] checkpoint fleet conformance
  pyproject.toml
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

[WIP] checkpoint generated fleet conformance
  docs/guides/README.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/make-commands.md
  docs/guides/migration-to-v0.13.0.md
  docs/guides/onboarding.md
  docs/guides/security.md
  docs/guides/skill-automation-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/guides/using-flext-cli.md
  docs/guides/using-flext-core.md
  docs/guides/using-flext-tests.md
Due: none

[WIP] checkpoint generated fleet and semantic migration
  .github/workflows/ci.yml
  .gitignore
  pyproject.toml
Due: none

[WIP] checkpoint post-mod fleet rewiring
  .agents/aihub-hooks/antigravity-preinvocation.py
  .claude/aihub-hooks/claude-sessionstart.py
  .claude/aihub-hooks/claude-subagentstart.py
  .claude/aihub-hooks/claude-userpromptsubmit.py
  .codex/aihub-hooks/codex-sessionstart.py
  .codex/aihub-hooks/codex-subagentstart.py
  .codex/aihub-hooks/codex-userpromptsubmit.py
  .cursor/aihub-hooks/cursor-beforesubmitprompt.py
  .cursor/aihub-hooks/cursor-precompact.py
  .cursor/aihub-hooks/cursor-sessionstart.py
  .cursor/aihub-hooks/cursor-subagentstart.py
  .gemini/aihub-hooks/gemini-beforeagent.py
  .gemini/aihub-hooks/gemini-precompress.py
  .gemini/aihub-hooks/gemini-sessionstart.py
  .github/hooks/aihub-hooks/copilot-precompact.py
  .github/hooks/aihub-hooks/copilot-sessionstart.py
  .github/hooks/aihub-hooks/copilot-subagentstart.py
  .github/hooks/aihub-hooks/copilot-userpromptsubmitted.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] checkpoint automated mod and formatting
  src/flext_target_ldif/api.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] conformance sweep: fix-verb unlock (ruff fix=false removal), churn repairs
  pyproject.toml
Due: none

[WIP] untrack agent hooks and operator config: runtime state, not repository source
  .agents/.hooks.json.agents-governance.json
  .agents/aihub-hooks/antigravity-preinvocation.py
  .agents/hooks.json
  .claude/aihub-hooks/claude-sessionstart.py
  .claude/aihub-hooks/claude-subagentstart.py
  .claude/aihub-hooks/claude-userpromptsubmit.py
  .codex/.hooks.json.agents-governance.json
  .codex/aihub-hooks/codex-sessionstart.py
  .codex/aihub-hooks/codex-subagentstart.py
  .codex/aihub-hooks/codex-userpromptsubmit.py
  .codex/hooks.json
  .cursor/.hooks.json.agents-governance.json
  .cursor/aihub-hooks/cursor-beforesubmitprompt.py
  .cursor/aihub-hooks/cursor-precompact.py
  .cursor/aihub-hooks/cursor-sessionstart.py
  .cursor/aihub-hooks/cursor-subagentstart.py
  .cursor/hooks.json
  .gemini/aihub-hooks/gemini-beforeagent.py
  .gemini/aihub-hooks/gemini-precompress.py
  .gemini/aihub-hooks/gemini-sessionstart.py
  .github/hooks/aihub-hooks/copilot-precompact.py
  .github/hooks/aihub-hooks/copilot-sessionstart.py
  .github/hooks/aihub-hooks/copilot-subagentstart.py
  .github/hooks/aihub-hooks/copilot-userpromptsubmitted.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] fleet-toolchain checkpoint: lane work + agent hook projections (env-switch checkpoint)
  .agents/.hooks.json.agents-governance.json
  .agents/aihub-hooks/antigravity-preinvocation.py
  .agents/hooks.json
  .claude/aihub-hooks/claude-sessionstart.py
  .claude/aihub-hooks/claude-subagentstart.py
  .claude/aihub-hooks/claude-userpromptsubmit.py
  .codex/.hooks.json.agents-governance.json
  .codex/aihub-hooks/codex-sessionstart.py
  .codex/aihub-hooks/codex-subagentstart.py
  .codex/aihub-hooks/codex-userpromptsubmit.py
  .codex/hooks.json
  .cursor/.hooks.json.agents-governance.json
  .cursor/aihub-hooks/cursor-beforesubmitprompt.py
  .cursor/aihub-hooks/cursor-precompact.py
  .cursor/aihub-hooks/cursor-sessionstart.py
  .cursor/aihub-hooks/cursor-subagentstart.py
  .cursor/hooks.json
  .gemini/aihub-hooks/gemini-beforeagent.py
  .gemini/aihub-hooks/gemini-precompress.py
  .gemini/aihub-hooks/gemini-sessionstart.py
  .github/hooks/aihub-hooks/copilot-precompact.py
  .github/hooks/aihub-hooks/copilot-sessionstart.py
  .github/hooks/aihub-hooks/copilot-subagentstart.py
  .github/hooks/aihub-hooks/copilot-userpromptsubmitted.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] untrack received agent hook projections
  .agents/.hooks.json.agents-governance.json
  .agents/aihub-hooks/antigravity-preinvocation.py
  .agents/hooks.json
  .claude/aihub-hooks/claude-sessionstart.py
  .claude/aihub-hooks/claude-subagentstart.py
  .claude/aihub-hooks/claude-userpromptsubmit.py
  .codex/.hooks.json.agents-governance.json
  .codex/aihub-hooks/codex-sessionstart.py
  .codex/aihub-hooks/codex-subagentstart.py
  .codex/aihub-hooks/codex-userpromptsubmit.py
  .codex/hooks.json
  .cursor/.hooks.json.agents-governance.json
  .cursor/aihub-hooks/cursor-beforesubmitprompt.py
  .cursor/aihub-hooks/cursor-precompact.py
  .cursor/aihub-hooks/cursor-sessionstart.py
  .cursor/aihub-hooks/cursor-subagentstart.py
  .cursor/hooks.json
  .gemini/aihub-hooks/gemini-beforeagent.py
  .gemini/aihub-hooks/gemini-precompress.py
  .gemini/aihub-hooks/gemini-sessionstart.py
  .github/hooks/.aihub-governance.json.agents-governance.json
  .github/hooks/aihub-governance.json
  .github/hooks/aihub-hooks/copilot-precompact.py
  .github/hooks/aihub-hooks/copilot-sessionstart.py
  .github/hooks/aihub-hooks/copilot-subagentstart.py
  .github/hooks/aihub-hooks/copilot-userpromptsubmitted.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: fleet toolchain conformance - merge resolutions and generated files
  .beads
  .beads/config.yaml
  .envrc
  .github/dependabot.yml
  .github/hooks/.aihub-governance.json.agents-governance.json
  .github/hooks/aihub-governance.json
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  .markdownlintignore
  .mise.toml
  .qlty/qlty.toml
  .vscode/settings.json
  Makefile
  docs/api-reference/generated/overview.md
  mise.lock
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

[WIP] fleet: lock-free mise latest toolchain, converged generated surfaces
  .github/hooks/aihub-hooks/copilot-precompact.py
  .github/hooks/aihub-hooks/copilot-sessionstart.py
  .github/hooks/aihub-hooks/copilot-subagentstart.py
  .github/hooks/aihub-hooks/copilot-userpromptsubmitted.py
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  .mise.toml
  Makefile
  base.mk
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] fleet: regenerated Makefiles with current CLI options
  Makefile
Due: none

fix: untrack received agent hook projections
  .github/hooks/.aihub-governance.json.agents-governance.json
  .github/hooks/aihub-governance.json
  .github/hooks/aihub-hooks/copilot-precompact.py
  .github/hooks/aihub-hooks/copilot-sessionstart.py
  .github/hooks/aihub-hooks/copilot-subagentstart.py
  .github/hooks/aihub-hooks/copilot-userpromptsubmitted.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] regenerated gitignore with hooks policy
  .github/hooks/.aihub-governance.json.agents-governance.json
  .github/hooks/aihub-governance.json
  .github/hooks/aihub-hooks/copilot-precompact.py
  .github/hooks/aihub-hooks/copilot-sessionstart.py
  .github/hooks/aihub-hooks/copilot-subagentstart.py
  .github/hooks/aihub-hooks/copilot-userpromptsubmitted.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] fleet: converged gen contract and lock-free mise
  .gitignore
  docs/api-reference/generated/overview.md
  pyproject.toml
  src/flext_target_ldif/api.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] fleet: converged deps surface
  .vscode/settings.json
  Makefile
Due: none

[WIP] fleet stabilization: dedup owners, typed gates, canonical imports
  pyproject.toml
Due: none

chore(gen): regenerate projections — GITHUB_TOKEN docker plumbing (PR #448 absorption at template owner), check-apply CI complement, generator fixed point (flext-yirgp)
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .vscode/settings.json
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

[WIP] adopt concurrent regeneration sweep
  .github/workflows/ci.yml
  .vscode/settings.json
  pyproject.toml
Due: none

[WIP] support: ruff+pyrefly burn-down (exit_code retire, Singer override fixes, OracleWms.Config declaration, canonical metadata chain in fixtures)
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

feat: add borrow-runtime-venv recipe to setup environment
  Makefile
Due: none

[WIP] residue wave 1: container lazy-import fix, RUFF_PATHS examples, markdown trims, gen fixed point (flext-pwmej)
  .github/workflows/docs.yml
  Makefile
Due: none

chore: integration landing state
  Makefile
Due: none

[WIP] wave-2 flext-target-ldif: canonical target_ldif singleton alias, ban-private-import relative imports, gen conform
  Makefile
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/api.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .markdownlintignore
  pyproject.toml
Due: none

fixes
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

fixes
  .beads/config.yaml
  .gitignore
  .mise.toml
  Makefile
  mise.lock
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
Due: none

fixes
  .agents/aihub-hooks/antigravity-preinvocation.py
  .agents/hooks.json
  .beads/config.yaml
  .claude/aihub-hooks/claude-sessionstart.py
  .claude/aihub-hooks/claude-subagentstart.py
  .claude/aihub-hooks/claude-userpromptsubmit.py
  .codex/aihub-hooks/codex-sessionstart.py
  .codex/aihub-hooks/codex-subagentstart.py
  .codex/aihub-hooks/codex-userpromptsubmit.py
  .codex/hooks.json
  .cursor/aihub-hooks/cursor-beforesubmitprompt.py
  .cursor/aihub-hooks/cursor-precompact.py
  .cursor/aihub-hooks/cursor-sessionstart.py
  .cursor/aihub-hooks/cursor-subagentstart.py
  .cursor/hooks.json
  .gemini/aihub-hooks/gemini-beforeagent.py
  .gemini/aihub-hooks/gemini-precompress.py
  .gemini/aihub-hooks/gemini-sessionstart.py
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  bin/mise
  bin/mise.cmd
  pyproject.toml
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  src/flext_target_ldif/_settings.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
  tests/base.py
  tests/conftest.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/settings.py
  tests/typings.py
  tests/unit/test_target.py
  tests/unit/test_writer.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Due: none

fixes
  .github/workflows/ci-matrix.yml
  Makefile
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

fixes
  GEMINI.md
Due: none

fixes
  .github/workflows/release.yml
  Makefile
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/make-commands.md
  docs/guides/onboarding.md
  docs/guides/skill-automation-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/guides/using-flext-cli.md
  docs/guides/using-flext-core.md
  docs/guides/using-flext-tests.md
  mkdocs.yml
  pyproject.toml
Due: none

fixes
  Makefile
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: update .markdownlintignore (gen-emitted table + CRG exclude)
  .markdownlintignore
Due: none

chore: update .markdownlint.json (per-file-ignores for gen-emitted table + CRG projections)
  .markdownlint.json
Due: none

fixes
  .envrc
Due: none

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
