Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint (17 categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

Notes added by 'git notes add'
  4d/d6946c9104792f0a7611c410bfc9738a4f0abe
Due: none

chore: refactor migration
  base.mk
  pyproject.toml
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  18/a7712c4179a36ca843934e636cdafe00bd1ea6
Due: none

chore: refactor migration
  pyproject.toml
Due: none

Notes added by 'git notes add'
  92/1d239d0f43bf58e01ac6bcce1cd386e8b1e9f0
Due: none

chore: refactor migration
  src/flext_target_ldif/__version__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  3f/4ae57606f41edc54ae2a9f97a8727dcc138c36
Due: none

Notes added by 'git notes add'
  27/54266185b9daa72518897e12ffc038b2a7eba3
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/cli.py
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  d6/07e6d6bffa4559bdb2403af1e674dc286ec221
Due: none

chore: refactor migration
  AGENTS.md
  docs/guides/security.md
  docs/guides/skill-automation-pattern.md
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  e0/a402bdbc960bd84d226f3ebcba126b07094e60
Due: none

chore: refactor migration
  docs/guides/development.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/settings.py
  tests/conftest.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  b1/a5a4bd3ca2241035ad914839018fdc067864dd
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  d4/33ae8e5165269bc9a9dc21618e379060de47a0
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  35/4a2c425b8feb9959d7791f6140057e9c17a12d
Due: none

chore: refactor migration
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  b9/f425eafe5e1476a0b76ccffc8b58b4b35bff51
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  19/7f8a22f8b7f5af4fefb2aeed27d7b4eb24a440
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  a8/8f857729d5f50c0842317282bc5703852cff08
Due: none

chore: refactor migration
  .github/workflows/ci.yml
  docs/guides/development.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/api.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/_utilities/service_runtime.py
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  pyproject.toml
  tests/unit/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/api.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  tests/constants.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/__version__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/models.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
  tests/unit/test_target.py
  tests/unit/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  tests/__init__.py
  tests/unit/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  base.mk
  docs/api-reference/README.md
  docs/api-reference/generated/modules/exceptions.md
  docs/api-reference/generated/modules/flext_target_ldif.md
  docs/api-reference/generated/modules/index.md
  docs/api-reference/generated/overview.md
  docs/index.md
Due: none

chore: refactor migration
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
