Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

0.9.0
  README.md
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

0.9.0
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

0.9.0
  scripts/README.md
Due: none

0.9.0
  pyproject.toml
Due: none

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
  src/py.typed
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  CLAUDE.md
Due: none

0.9.0
  CLAUDE.md
  README.md
  poetry.lock
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  CLAUDE.md
  src/flext_target_ldif/config.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  pyproject.toml
  src/flext_target_ldif/transformers.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  poetry.lock
Due: none

0.9.0
  pyrightconfig.json
Due: none

0.9.0
  .serena/.gitignore
  .serena/project.yml
  pyrightconfig.json
Due: none

0.9.0
  .serena/project.yml
  src/flext_target_ldif/config.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/validation.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  poetry.lock
  tests/test_target.py
  tests/test_writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

0.9.0
  .gitignore
  Makefile
  pyproject.toml
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/config.py
  src/flext_target_ldif/exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  pyproject.toml
  src/flext_target_ldif/exceptions.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/config.py
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

0.9.0
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi
