Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

Notes added by 'git notes add'
  75/009b0caa80e493ae20b8d7579fb0805c22786e
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  c3/67f0d0a23c4466bd991675d8747c9084b4b45c
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  71/120bcc7967ee57240443d06475b46bba14c885
Due: none

Notes added by 'git notes add'
  d5/bea4ff9d56949a1a5c759baadcdc780f7bee7b
Due: none

chore: refactor migration
  src/flext_target_ldif/constants.py
  tests/tm.py
  tests/tp.py
  tests/tt.py
  tests/tu.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  b9/16bf16452bedd6cebf210380db86253c7b7066
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_target_ldif/__init__.py
  tests/__init__.py
  tests/tu.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  27/30696d4dcdd43b66d477f0558f2a66cc906b02
Due: none

chore: refactor migration
  src/flext_target_ldif/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  6b/6d3f79b05a11107f2342b438c481c8e41a6e6f
Due: none

chore: refactor migration
  docs/guides/development.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  src/flext_target_ldif/__version__.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/conftest.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  19/0f769c510e63a3d47ae4629ceb8407b0cdcaec
Due: none

Notes added by 'git notes add'
  e9/71f9f1dac99216ba309d65cabc91c87b38cff8
Due: none

feat: enrich make verbs with file-targeting params (FILE/FILES/CHANGED_ONLY/MATCH/RUFF_ARGS)
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

incremental make
  Makefile
Due: none

Notes added by 'git notes add'
  71/dee401f39408c093d60182c33863aa320e297e
Due: none

chore: refactor migration
  docs/CHANGELOG.md
  docs/README.md
  docs/api-reference.md
  docs/architecture.md
  docs/architecture/patterns.md
  docs/configuration.md
  docs/development.md
  docs/getting-started.md
  docs/guides/README.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/security.md
  docs/guides/skill-automation-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/index.md
  docs/releases/latest.md
  docs/roadmap/index.md
  docs/testing.md
  docs/troubleshooting.md
Due: none

Notes added by 'git notes add'
  23/b6880291f15f119312710fddcdf4de5d0602cd
Due: none

chore(test-simplify): archive empty/stub test files and cherry-pick unique tests (Phase 1+2)
  src/flext_target_ldif/models.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  4d/4c1bf46d8560b2fd13142910c5bd28039b4cc1
Due: none

docs(test-simplify): add Phase 1+2 summary
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  5d/cf493a4f0f71abcb14e029b38f398653525e9a
Due: none

Notes added by 'git notes add'
  da/dee4b2fb2097f84420eb352dca63e656ca4a1c
Due: none

docs(test-simplify): Phase 3 summary
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  f5/c0f3b43a9ab68c3605de5690ed90d266bcfc2a
Due: none

fix(flext-core): fix guard return types, test truthiness bugs, ast-grep dedup
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  docs/guides/development.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  tests/conftest.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  46/c6649540ee8a4bb1b84677f4311801e712e62a
Due: none

Notes added by 'git notes add'
  b9/d5c158c89a5511f706506e29f219d17061e6a6
Due: none

refactor(flext-core): replace Mapping[str,t.Scalar] with t.ConfigurationMapping, hasattr with isinstance(p.*), fix ContainerMapping subclass errors in tests
  src/flext_target_ldif/typings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

refactor(flext-core): add t.FlatContainerMapping, t.MutableFlatContainerMapping, t.MutableConfigurationMapping aliases and apply across codebase
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  34/28f1e1398014863dbf3eee8e7bc59656b37ef4
Due: none

feat(typings): add concrete Base classes for PEP 695 alias inheritance (ContainerMappingBase, ContainerListBase, MutableContainerMappingBase, MutableContainerListBase)
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  15/553f826ba83043a83583c7b0c50dc23a85fa49
Due: none

Notes added by 'git notes add'
  60/52ebeabd3e9fbdf2cae2733a1cbac686cfcc2f
Due: none

fix: restore missing Sequence/Mapping imports after t.StrSequence/t.StrMapping revert
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/__version__.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/models.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
  tests/__init__.py
  tests/conftest.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi
