Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

black:
  name: ⚫ Black Format
  entry: poetry run black
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-format:
  name: ⚡ Ruff Format
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: 🔥 Ruff Lint (17 categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix

isort:
  name: 📦 Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff

mypy:
  name: 🛡️ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml

bandit:
  name: 🔒 Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  args:
  - -r
  - src/
  - --severity-level=medium

vulture:
  name: 🦅 Dead Code Detection
  entry: poetry run vulture
  language: system
  pass_filenames: false
  args:
  - src/
  - --min-confidence=80

radon-cc:
  name: 📊 Cyclomatic Complexity
  entry: poetry run radon cc
  language: system
  pass_filenames: false
  args:
  - src/
  - -a
  - -nb
  - --total-average

radon-mi:
  name: 📊 Maintainability Index
  entry: poetry run radon mi
  language: system
  pass_filenames: false
  args:
  - src/
  - -nb

chore: refactor migration
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  005c823817a4e4899fc9ac755276672b4f3df882
Due: none

fix: codegen alias resolution + cycle-breaking propagation
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fix: codegen first-seen-wins export scan + cycle-breaking
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

fix: codegen regeneration with improved alias resolution
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  29bda7abefca2bf1f5ae3e356ef07864d73eb8a1
Due: none

Notes added by 'git notes add'
  7073ee69ccc3388c88142f4e693ef990d83d34ab
Due: none

chore: refactor migration
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/protocols.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/transformers.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  f1fb918634f1ca772363f7e3c4567d529734f327
Due: none

chore: refactor migration
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  ec/db0094fc7e962dd0cd2bc04327f1a303f44acc
Due: none

chore: refactor migration
  src/flext_target_ldif/constants.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  e7/155e8b10182f05705948b99f7839f6edab65ad
Due: none

chore: refactor migration
  src/flext_target_ldif/models.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  ad/c0c408667b4ba71398c36e8adc6512715570ab
Due: none

Notes added by 'git notes add'
  f8/63539c1ba699a094c220b76524256a45e5ee64
Due: none

chore: refactor migration
  poetry.lock
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  7a/850cd63bfd024a120bbea154eb2297821ce28e
Due: none

chore: refactor migration
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/exceptions.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/typings.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  5b/168345bf0b1451b091998d8fb51a6f928b4484
Due: none

Notes added by 'git notes add'
  be/2f5a4788c5bade138a9530c40d1d13aaf43d51
Due: none

chore: refactor migration
  src/flext_target_ldif/constants.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/utilities.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  f4/35a7f15f96330fd0b59894bf54b635cfb34fb9
Due: none

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  src/flext_target_ldif/__init__.py
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
  src/flext_target_ldif/writer.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  8c/65a5cb84ffd05c8d22b9010438b9bacbdf32bc
Due: none

chore: refactor migration
  src/flext_target_ldif/settings.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore: refactor migration
  src/flext_target_ldif/settings.py
  src/flext_target_ldif/target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  4a/37522ad9cf6192fc2ed68c5a52b580ba60e126
Due: none

Notes added by 'git notes add'
  99/8fb535747867b7f28d18516b540f4e0a5a2daa
Due: none

chore: refactor migration
  poetry.lock
Due: none

Notes added by 'git notes add'
  fa/e0e2314a6515b8599bef127d373a0bfa362825
Due: none

chore: refactor migration
  tests/__init__.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore: refactor migration
  docs/guides/development.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  poetry.lock
  pyproject.toml
  src/flext_target_ldif/models.py
  src/flext_target_ldif/sinks.py
  src/flext_target_ldif/utilities.py
  tests/conftest.py
  tests/test_target.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Notes added by 'git notes add'
  6f/158a52e696519a22e8892259cac1ac37c4f94f
Due: none

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
