Repository flext-sh/flext-target-ldif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

Path conditions:
  black: any of: \.py$
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
  vulture: any of: \.py$
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$

fixes
  Makefile
Due: none

fixes
  .markdownlint.json
Due: none

chore: regenerate projections — CI frozen provisioning + markdown managed-projection exemption (flext-infra #661 #669)
  .markdownlintignore
  .mise.toml
  .qlty/qlty.toml
  Makefile
  config/build-constraints.txt
Due: none

chore: regenerate beads regeneration-note header (make gen without APPLY)
  .beads/config.yaml
Due: none

chore: regenerate projections — ci checkout-mode normalization (flext-infra f4b4f3f11)
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Due: none

chore(flext-target-ldif): preserve 0.12.0-dev changes across 1 paths
  Makefile
Due: none

chore: regenerate projections — ci checkout-mode normalization (flext-infra f4b4f3f11)
  pyproject.toml
Due: none

chore: regenerate projections — ci checkout-mode normalization (flext-infra f4b4f3f11)
  Makefile
Due: none

fixes
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Makefile
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

fixes
  .github/workflows/ci.yml
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/make-commands.md
  docs/guides/migration-to-v0.13.0.md
  docs/guides/onboarding.md
  docs/guides/security.md
  docs/guides/skill-automation-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/guides/using-flext-cli.md
  docs/guides/using-flext-core.md
  docs/guides/using-flext-tests.md
Due: none

fixes
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/make-commands.md
  docs/guides/onboarding.md
  docs/guides/skill-automation-pattern.md
  docs/guides/troubleshooting.md
Due: none

chore(flext-target-ldif): preserve 0.12.0-dev changes across 1 paths
  pyproject.toml
Due: none

fixes
  .github/workflows/ci.yml
  Makefile
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

fixes
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

chore(projections): absorb regenerated projections from config SSOT (épico flext-cpzjo F2)
  pyproject.toml
Due: none

fixes
  .github/workflows/ci.yml
  config/build-constraints.txt
Due: none

chore: drop banned build-constraints projection
  .gitignore
Due: none

chore(projections): absorb regenerated projections (idempotent gen proof)
  pyproject.toml
Due: none

chore(flext-target-ldif): preserve constants-remediation-0.12 changes across 1 paths
  pyproject.toml
Due: none

refactor: T1+T2 architecture-scale refactor - config updates
  .gitignore
  Makefile
Due: none

fix: exterminate hardcoded constants, shadowing, bypass patterns
  pyproject.toml
Due: none

chore: conformance updates from root workspace make gen
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  Makefile
  README.md
  docs/index.md
  pyproject.toml
Due: none

fixes
  .agents/aihub-hooks/antigravity-preinvocation.py
  .claude/aihub-hooks/claude-sessionstart.py
  .claude/aihub-hooks/claude-subagentstart.py
  .claude/aihub-hooks/claude-userpromptsubmit.py
  .codex/aihub-hooks/codex-sessionstart.py
  .codex/aihub-hooks/codex-subagentstart.py
  .codex/aihub-hooks/codex-userpromptsubmit.py
  .cursor/aihub-hooks/cursor-beforesubmitprompt.py
  .cursor/aihub-hooks/cursor-precompact.py
  .cursor/aihub-hooks/cursor-sessionstart.py
  .cursor/aihub-hooks/cursor-subagentstart.py
  .gemini/aihub-hooks/gemini-beforeagent.py
  .gemini/aihub-hooks/gemini-precompress.py
  .gemini/aihub-hooks/gemini-sessionstart.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

gen: regenerate facets and workflows
  .github/workflows/ci.yml
  Makefile
Due: none

fixes
  .agents/aihub-hooks/antigravity-preinvocation.py
  .claude/aihub-hooks/claude-sessionstart.py
  .claude/aihub-hooks/claude-subagentstart.py
  .claude/aihub-hooks/claude-userpromptsubmit.py
  .codex/aihub-hooks/codex-sessionstart.py
  .codex/aihub-hooks/codex-subagentstart.py
  .codex/aihub-hooks/codex-userpromptsubmit.py
  .cursor/aihub-hooks/cursor-sessionstart.py
  .gemini/aihub-hooks/gemini-beforeagent.py
  .gemini/aihub-hooks/gemini-sessionstart.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

gen: regenerate facets and lazy-init exports
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

chore(flext-target-ldif): preserve 0.12.0-dev changes across 1 paths
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  .gitignore
Due: none

fixes
  .github/workflows/ci.yml
  .vscode/settings.json
  Makefile
  pyproject.toml
Due: none

chore(gen): regenerate projections from flext-infra b13793fb1
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  Makefile
  README.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/make-commands.md
  docs/guides/onboarding.md
  docs/guides/skill-automation-pattern.md
  docs/guides/troubleshooting.md
  docs/guides/using-flext-tests.md
  docs/index.md
  pyproject.toml
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore: regenerate from codegen (APPLY exterminated, agent-hook excludes, I001 fix)
  .gitignore
  Makefile
  base.mk
  pyproject.toml
  src/flext_target_ldif/__init__.py
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

[WIP] preserve generated S2 changes before integration sync
  .beads/config.yaml
  .envrc
  .mise.toml
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

chore(codegen,ruff): option-B APPLY extermination + I001/UP040/S105/S101 root-cause fixes
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/make-commands.md
  docs/guides/onboarding.md
  docs/guides/skill-automation-pattern.md
  docs/guides/troubleshooting.md
  docs/guides/using-flext-tests.md
  src/flext_target_ldif/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, bandit, vulture, radon-cc, radon-mi

fixes
  .github/workflows/ci.yml
  Makefile
Due: none

[WIP] Regenerate reconciled Make documentation
  Makefile
  README.md
  docs/index.md
Due: none

fixes
  .github/workflows/ci.yml
  Makefile
  tests/__init__.py
Due: black, ruff-format, ruff-lint, isort, mypy, vulture, radon-cc, radon-mi

[WIP] preserve generated residue exclusions
  .gitignore
Due: none

[WIP] preserve regenerated stabilization state for handoff
  Makefile
Due: none
